### Intellij ###
.idea/
*.iws
out/
*.iml
.idea_modules/
atlassian-ide-plugin.xml

### Mac ###
.DS_Store

### Gradle ###

build/
.gradle
.idea/**/gradle.xml
.idea/**/libraries

### Package Files ###
*.jar
*.war
*.ear
/lib
**/*~